/* COLORES */
:root {
    --blanco: #f4f4f2;
    --azul: #0034c4;
    --celeste: #007fff;
    --gris: #848775;
}

body {
    background-image: url(./images/Fondos/fondoquimica1.png);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* ----------------- CABECERA ----------------- */

.cabecera, .contenido {
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
} 

.cabecera {
    display: flex;
    justify-content: space-between;
    background-color: var(--gris);
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    border-radius: 10px 10px 0px 0px;
}

.cabecera h1 {
    font-size: 40px;
    margin-left: 40px;
}

.cabecera img {
    max-width: 150px;
}

/*-------------------- NAVEGACION --------------- */
.navegacion {
    background-color: var(--azul);
    display: flex;
    justify-content: space-between;
    border-radius: 0 0 8px 8px;
    list-style-type: none;
    height: 100%;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.menu li {
    list-style-type: none;
    padding: 15px;
    position: relative;
    text-align: center;
}

.menu a {
    text-decoration: none;
    width: 110%;
    height: 150%;
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: bolder;
    color: var(--blanco);
    transition: all 300ms ease;
}

.menu a:hover {
    transform: scale(1.1);
    background: var(--celeste);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

.navegacion form {
    display: flex;
    align-items: center;
    margin-right: 20px;
    gap: 5px;
}

.buscador input {
    width: 200px;
    padding: 8px;
}

.menu > li > ul {
    width: 150px;
    display: flex;
    flex-direction: column;
    background: var(--azul);
    position: absolute;
    top: 50px;
    padding: 14px 0px;
    z-index: 10;
    transition: all 300ms ease;
    visibility: hidden;
}

.menu > li:hover > ul {
    visibility: visible;
    opacity: 1;
    top: 70px;
}

.imagen1 {
    text-align: center;
    margin-top: 20px;
}
