/* COLORES */
:root {
    --blanco: #f4f4f2;
    --azul: #0034c4;
    --celeste: #007fff;
    --gris: #848775;
}

body {
    background-image: url(./images/Fondos/fondoquimica1.png);
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
}

body p {
    font-size: 20px;
    text-align: justify; 
}

h2 {
    font-size: 35px;
    color: red;
}

h3 {
    font-size: 25px;
    color: var(--azul);
    
}

.tituloH1 {
    font-size: 45px;
    color: red;
}

/* ----------------- CABECERA ----------------- */

.cabecera, .contenido {
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
} 

.cabecera {
    display: flex;
    justify-content: space-between;
    background-color: var(--gris);
    align-items: center;
    border-radius: 10px 10px 0px 0px;
    background-image: -moz-radial-gradient(var(--blanco) 20%, var(--gris));
}

.cabecera h1 {
    font-size: 50px;
    margin-left: 50px;
}

.cabecera img {
    max-width: 150px;
    margin-right: 90px;
}

/*-------------------- NAVEGACION --------------- */
.navegacion {
    background-color: var(--azul);
    display: flex;
    justify-content: space-between;
    border-radius: 0 0 8px 8px;
    list-style-type: none;
    height: 100%;
    align-items: center;
}

.menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.menu li {
    list-style-type: none;
    padding: 15px;
    position: relative;
    text-align: center;
    align-items: center;
}

.menu a {
    text-decoration: none;
    width: 110%;
    height: 150%;
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: bolder;
    color: var(--blanco);
    transition: all 300ms ease;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 19px;
    font-variant: small-caps;
}

.menu a:hover {
    transform: scale(1.1);
    background: var(--celeste);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

.navegacion form {
    display: flex;
    align-items: center;
    margin-right: 20px;
    gap: 15px;
}

.buscador {
    width: 200px;
    padding: 8px;
}

.menu > li > ul {
    width: 150px;
    display: flex;
    flex-direction: column;
    background: var(--azul);
    position: absolute;
    top: 50px;
    padding: 14px 0px;
    z-index: 10;
    transition: all 300ms ease;
    visibility: hidden;
}

.menu > li:hover > ul {
    visibility: visible;
    opacity: 1;
    top: 70px;
}

.imagen1 {
    text-align: center;
    margin-top: 20px;
}

/*--------------------- inicio NEWS ---------------------*/

.suscripcion img {
    max-width: 100px;
}

.news {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    padding-right: 20px;
    padding-left: 20px; 
    margin: auto;
    border-radius: 8px;
    border: 2px solid var(--gris);
    background-image: linear-gradient(var(--blanco) 60%, var(--gris));
}

.suscripcion {
    display: flex;
    align-items: center;
    gap: 40px;
}

.info-news {
    width: 450px;
}

.info-news p {
    text-align: end;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

.info-news h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 300px;
}

.boton-suscripcion {
    border: none;
    background: none;
    padding: 8px;    
}

.boton-suscripcion:hover {
    color: var(--azul);
    font-weight: bold;
    cursor: pointer;
}

.campo {
    width: 200px;
    height: 30px;
    font: 1em sans-serif;
}



/*----------------- página de Organización ----------------*/

.listaOrganizacion {
    font-size: 30px;
    font-style: italic;
    text-align: justify;
    
}

/*------------------- página de Historia ------------------*/

