/* COLORES */
:root {
    --blanco: #f4f4f2;
    --azul: #0034c4;
    --celeste: #007fff;
    --gris: #848775;
    --rojo: red;
}

body {
    background-image: url(./images/Fondos/fondoquimica1.png);
    margin-right: 40px;
    margin-left: 40px;
    line-height: 1.5;
}

body p {
    font-size: 20px;
    text-align: justify; 
}

h2 {
    font-size: 35px;
    color: red;
    font-family: sans-serif;
}

h3 {
    font-size: 35px;
    color: var(--azul);
    font-family: sans-serif;
    text-shadow: 
            2px 5px var(--celeste); 
}

.tituloH1 {
    font-size: 45px;
    color: red;
    background-color: var(--celeste);
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
    height: 150px;
    align-items: center;
    text-align: left;
    padding-left: 50px;
    border: #0034c4 solid;
    border-radius: 10px;
    background-image: -moz-linear-gradient(var(--blanco) 70%, var(--celeste));
}

/* ----------------- CABECERA ----------------- */

.contenido {
    width: 75%;
    max-width: 1200px;
    margin: auto;
} 

.cabecera {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--gris);
    
    border-radius: 10px 10px 0px 0px;
    background-image: -moz-radial-gradient(var(--blanco) 20%, var(--gris));
}

.cabecera h1 {
    font-size: 50px;
    margin-left: 40px;
    font-family: Arial;
}

.cabecera img {
    display: flex;
    flex-direction: row;
    width: 150px;
    border-top: 2px solid var(--gris);
    border-right: 2px solid var(--gris);
    border-radius: 8px;
}

/*-------------------- NAVEGACION --------------- */
.navegacion {
    background-color: var(--azul);
    display: flex;
    justify-content: space-between;
    border-radius: 0 0 8px 8px;
    list-style-type: none;
    width: 100%;
    height: 100%;
    align-items: center;
}

.menu {
    display: flex;
    justify-content: flex-start;
    
}

.menu li {
    list-style-type: none;
    padding: 5px;
    position: relative;
    text-align: left;
    align-items: center;
}

.menu a {
    text-decoration: none;
    width: 110%;
    height: 150%;
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: bolder;
    color: var(--blanco);
    transition: all 300ms ease;
    font-family: 'Trebuchet MS';
    font-size: 19px;
    font-variant: small-caps;
}

.menu a:hover {
    transform: scale(1.1);
    background: var(--celeste);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

.navegacion form {
    display: flex;
    align-items: center;
    margin-right: 20px;
    gap: 15px;
}

.buscador {
    width: 200px;
    padding: 8px;
}

.menu > li > ul {
    width: 150px;
    display: flex;
    flex-direction: column;
    background: var(--azul);
    position: absolute;
    top: 50px;
    padding: 14px 0px;
    z-index: 10;
    transition: all 300ms ease;
    visibility: hidden;
}

.menu > li:hover > ul {
    visibility: visible;
    opacity: 1;
    top: 70px;
}

.imagen1 img {
    width: 100%;
    align-items: center;
    margin-top: 20px;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0px 3px 5px rgba(15, 15, 15, 0.5);
}

/*------------------------ NEWS ------------------------*/

.suscripcion img {
    max-width: 100px;
}

.news {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    padding-right: 20px;
    padding-left: 20px; 
    margin: auto;
    border-radius: 8px;
    border: 2px solid var(--gris);
    background-image: linear-gradient(var(--blanco) 60%, var(--gris));
    margin-top: 100px;
}

.suscripcion {
    display: flex;
    align-items: center;
    gap: 40px;
}

.info-news {
    width: 450px;
}

.info-news p {
    text-align: end;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

.info-news h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 300px;
}

.boton-suscripcion {
    border: none;
    background: none;
    padding: 8px;    
}

.boton-suscripcion:hover {
    color: var(--azul);
    font-weight: bold;
    cursor: pointer;
}

.campo {
    width: 200px;
    height: 30px;
    font: 1em sans-serif;
}

/*--------------------- pie de página ---------------------*/


.pieDePagina {
    display: grid;
    grid-template-columns: 400px 400px 1fr;
    background-color: var(--celeste); 
    border-top: black solid;
    grid-template-rows: 1fr 50px;
    padding: 10px 40px 10px 20px;
    margin-top: 50px;
    background-image: linear-gradient(var(--blanco) 70%, var(--azul));
}

.direccionBSAS {
    padding-left: 150px;
}

.firma {
    grid-column: 3/4; 
    grid-row: 2/3;
    text-align: end;
    font-size: 15px;
}

.firma a {
    color: var(--blanco); 
    padding-bottom: 15px;
}
/* ------------------------------------------------------- */
/*----------------- página de Organización ----------------*/
/* ------------------------------------------------------- */

.listaOrganizacion {
    font-size: 30px;
    font-style: italic;
    text-align: justify;
    
}

/* ------------------------------------------------------- */
/*------------------- página de Historia ------------------*/
/* ------------------------------------------------------- */

.fotoHistoria1, 
.fotoHistoria2, 
.fotoHistoria3 {
    max-width: 400px;
    align-items: center;
    text-align: center; 
}

.parrafo1 img {
    float: left;
    padding: 30px;
    border-radius: 8px;
}

.parrafo2 img {
    float: right;
    padding: 25px;
    border-radius: 8px;
}

.parrafo3 img {
    float: left;
    padding: 30px;
    border-radius: 8px;
}

/* ------------------------------------------------------- */
/*---------- página de Metales (clasificacion) ------------*/
/* ------------------------------------------------------- */
.body p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.contenidoMetales {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    
.metal_1 { 
    grid-area: 1 / 1 / 2 / 2; 
    border: #848775 solid 4px;
    border-radius: 8px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: var(--blanco);
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease;
}

.metal_1:hover {
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);
}

.metal_2 { 
    grid-area: 1 / 2 / 2 / 3;
    border: #848775 solid 4px;
    border-radius: 8px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: var(--blanco);
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease; 
}

.metal_2:hover {
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);
}

.metal_3 { 
    grid-area: 2 / 1 / 3 / 2;
    border: #848775 solid 4px;
    border-radius: 8px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: var(--blanco);
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease; 
}

.metal_3:hover {
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);
}

.metal_4 { 
    grid-area: 2 / 2 / 3 / 3;
    border: #848775 solid 4px;
    border-radius: 8px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: var(--blanco);
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease; 
}

.metal_4:hover {
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);
}

.metal_5 { 
    grid-area: 3 / 1 / 4 / 3;
    border: #848775 solid 4px;
    border-radius: 8px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: var(--blanco);
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease; 
} 

.metal_5:hover {
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);
}

.imgMetal {
    width: 200px;
    height: 200px;
    float: left;
    padding: 0px 10px 0px 0px;
}

.imgMetal_2 {
    width: 200px;
    height: 200px;
    float: right;
    padding: 0px 0px 0px 10px;
}

/* ------------------------------------------------------- */
/*--------- página de No Metales (clasificacion) -----------*/
/* ------------------------------------------------------- */

/* en proceso */

/* ------------------------------------------------------- */
/*-------- página de Metaloides (clasificacion) -----------*/
/* ------------------------------------------------------- */

/* en proceso */

/* ------------------------------------------------------- */
/*---------------- página de Datos Curiosos ---------------*/
/* ------------------------------------------------------- */

/* en proceso */

/* ------------------------------------------------------- */
/*------------ página de Tabla para Descargar -------------*/
/* ------------------------------------------------------- */

.tabladescargar {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 100vh;
    cursor: pointer;
}

.tabladescargar img {
    width: 100%;
    height: 100%;
    display: block;
}

.tabladescargar:hover .tituloh2_td {
    width: 100%;
}

.tituloh2_td  {
    width: 0%;
    height: 100%;
    background: rgba(36, 30, 48, 0.71);
    position: absolute;
    top: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: all 400ms ease-in-out;
}

.tituloh2_td h2 {
    color: #fff;
    font-size: 50px;
    border: 8px solid;
    border-radius: 8px;
    padding: .8em 1.9em;
}

/* ------------------------------------------------------- */
/*----------------------- RESPONSIVE ----------------------*/
/* -------------------- Sector Media Queries ------------- */

@media(max-width:768px) {
    
    /* Queries cabecera */
    .cabecera h1{
        margin: 15px 0 15px 0;
        text-align: center;
        
    }
    .cabecera{
        display: flex;
        flex-direction: column;
        gap: 2px;
    }
    .cabecera img{
        align-items: center;
        text-align: center;
        flex-direction: column;
        margin: auto;   
    }
    
    /* Queries Menu */
    .menu{
        display: flex;
        flex-direction: column;
        gap: 2px;
    }
    .navegacion{
        flex-direction: column;
        align-items: center;
        
    }
    .navegacion form{
        margin: 0px 0px 15px 45px;
        flex-direction: column;
    }
    
    /* Queries tituloH1 */
    .tituloH1{
        flex-direction: column;
        height: fit-content;
        width: 80%; 
    }
    
    /* Queries news */
    .news{
        flex-direction: column;
        align-items: center;
        padding-bottom: 15px;
    }
    .suscripcion{
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
    .info-news {
        flex-direction: column;
        text-align: center;
        width: min-content;
    }
    .info-news p{
        text-align: center;
    }
    .suscripcion img{
        padding-top: 20px;
    }
    
    /* Queries pie de página */
    .pieDePagina{
        grid-template-columns: 1fr;
    }
    .direccionBSAS{
        padding-left: 50px;
        padding-top: 40px;
    }
    .firma a{
        flex-direction: column;
        margin-bottom: 15px;
    }
    /* pagina de Metales */
    .contenidoMetales{
        display: grid;
        grid-template-columns: repeat 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(3, 1fr);
    }
    
}



